/* -------------- Theme ---------------- */
header {
  width: 100%;
  transition: all 0.5s;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 32px;
  margin: 0 auto;
  transition: all 0.35s ease, padding 0.35s ease;
}
header .navbar .navbar-collapse {
  flex-grow: unset;
}
header .navbar img {
  height: 3.5rem;
}
header .navbar img:hover {
  transform: scale(1.1);
}
header .navbar .nav-link {
  padding: 20px !important;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #261911 !important;
}
header .navbar .nav-link:hover {
  text-decoration: underline;
  transform: scale(1.1);
}
header .navbar .nav-link.active {
  font-weight: 600;
}
header .navbar .dropdown-toggle {
  padding-right: 0 !important;
}
header .navbar .dropdown-menu[data-bs-popper] {
  top: 70%;
  right: 0;
  left: unset;
}
header .navbar .dropdown-item {
  padding: 8px 16px;
}
header .navbar .dropdown-item i {
  font-size: 0.9rem;
  margin-right: 0.5rem;
}
header .navbar .dropdown-item:hover {
  background-color: #E1C9C1;
  text-decoration: underline;
}
@media (max-width: 992px) {
  header .navbar .navbar-collapse {
    flex-grow: 1;
  }
  header .navbar .navbar-collapse .navbar-nav {
    padding-top: 1rem;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 16px 0 16px 0 !important;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    transform: none;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .active {
    text-decoration: none;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .show {
    padding-bottom: 0 !important;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu[data-bs-popper] {
    background: none;
    border: none;
    padding: 0;
  }
  header .navbar .ij-navbar-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header .navbar .ij-navbar-buttons .navbar-toggler {
    border: 2px solid #616161;
  }
  header .navbar .ij-navbar-buttons .navbar-toggler:focus {
    color: #616161;
  }
}

header.sticky {
  padding: 0;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
}
header.sticky img {
  height: 2.5rem;
}

/* HERO */
.ij-hero {
  position: relative; /* Add relative positioning to the container */
  overflow: hidden; /* Ensure the image doesn't overflow the container */
  padding: 0rem 0 3rem 0 !important;
}
.ij-hero__item {
  position: relative; /* Add relative positioning to the item */
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  height: 100%;
  justify-content: center;
}
.ij-hero__image {
  opacity: 0.8;
  width: 100%; /* Make the image fill the container */
  height: 50vh;
  object-fit: cover;
}
.ij-hero__content {
  z-index: 1; /* Ensure content appears above the image */
  padding: 0 32px;
  max-width: 1440px;
  display: flex;
  justify-content: end;
  width: 100%;
  /* Add positioning for the content */
  position: absolute;
}
.ij-hero__content h1 {
  margin-bottom: 2rem;
  font-size: 3.5rem;
}
.ij-hero__content p {
  width: 50%;
}

.ij-card-section {
  padding: 2rem 0 6rem 0;
}
.ij-card-section .ij-card-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 3rem;
}
.ij-card-section .ij-card-header h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.ij-card-section .ij-card-header p {
  width: 50%;
}
.ij-card-section .ij-card-display {
  display: flex;
  justify-content: center;
}
.ij-card-section .ij-card {
  margin: 0 2rem;
}
.ij-card-section .ij-card__item {
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding-bottom: 50px;
}
.ij-card-section .ij-card__item .ij-thumbnail {
  margin-bottom: 30px;
  position: relative;
  top: 0;
  transition: 0.3s all ease;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.ij-card-section .ij-card__item h3 {
  font-weight: 600;
  font-size: 16px;
}
.ij-card-section .ij-card__item h3, .ij-card-section .ij-card__item p {
  padding: 0 32px 16px 32px;
}
.ij-card-section .ij-card__item:before {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  background: #fff;
  height: 70%;
  z-index: -1;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.ij-card-section .ij-card__icons {
  display: flex;
  justify-content: center;
  margin-bottom: -72.5px;
}
.ij-card-section .ij-card__icons .icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #787d62;
  border-radius: 50%;
  opacity: 1;
  transition: 0.2s all ease;
  margin: 0 0.5rem;
  position: relative;
}
.ij-card-section .ij-card__icons .icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: #fff;
}
.ij-card-section .ij-card__icons .icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width: 766px) {
  .ij-card-section {
    padding: 4rem 0;
  }
  .ij-card-section .ij-card {
    margin: 0;
  }
}

.ij-footer {
  margin: 4rem 0 0 0;
  background-color: #fff;
}
.ij-footer .row {
  display: flex;
  justify-content: space-between;
  padding: 3rem 32px;
}
.ij-footer__icons ul {
  padding: 0.5rem 0 !important;
  list-style: none;
  display: flex;
}
.ij-footer__icons ul li {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  opacity: 1;
  transition: 0.2s all ease;
  margin: 0 0.5rem;
  position: relative;
}
.ij-footer__icons ul li i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  color: #261911;
}
.ij-footer__icons ul li:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.ij-footer__text {
  padding: 1rem 0;
}
.ij-footer__text p {
  margin-bottom: 0 !important;
}

#section1 .ida-section1 h2 {
  font-weight: 700;
}
#section1 .ida-section1 .team-member {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
#section1 .ida-section1 .team-member .round-image-container {
  height: 18rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
#section1 .ida-section1 .team-member .round-image-container img {
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
  border: 1px solid #E1C9C1;
}
#section1 .ida-section1 .team-member .round-image-container:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
#section1 .ida-section1 .team-member a {
  width: 2.8rem;
  background-color: #E1C9C1;
  border: none;
}
#section1 .ida-section1 .team-member a i {
  color: #261911;
  font-size: 1.5rem;
}
#section1 .ida-section1 .team-member a:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.ij-section2 {
  display: flex;
  align-items: center;
}
.ij-section2__container {
  display: flex;
  align-items: center;
}
.ij-section2__container h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.ij-section2__container p {
  margin-bottom: 2rem;
}
.ij-section2__img {
  display: flex;
  justify-content: center;
}
.ij-section2__img img {
  height: 300px;
  border-radius: 2%;
  width: 400px;
  object-fit: cover;
}
.ij-section2__img:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
@media (max-width: 766px) {
  .ij-section2__container {
    display: block;
  }
}

.ij-section3 {
  display: flex;
  align-items: center;
}
.ij-section3__container {
  display: flex;
  align-items: center;
}
.ij-section3__container .row {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 799px) {
  .ij-section3__container .row {
    flex-direction: row;
  }
}
.ij-section3__container h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.ij-section3__container p {
  margin-bottom: 2rem;
}
.ij-section3__img {
  display: flex;
  justify-content: center;
}
.ij-section3__img img {
  height: 300px;
  border-radius: 2%;
  width: 400px;
  object-fit: cover;
}
.ij-section3__img:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
@media (max-width: 766px) {
  .ij-section3__container {
    display: block;
  }
}

h1, h2, h3, h4, p, a {
  color: #261911;
}

#gridSection .idatest {
  height: 250px;
  position: relative;
  padding: 16px;
}
#gridSection .idatest:hover {
  cursor: pointer;
}
#gridSection .idatest:hover img {
  opacity: 1;
}
#gridSection .idatest2 {
  height: 350px;
  position: relative;
  padding: 12px;
}
#gridSection .idatest2:hover {
  cursor: pointer;
}
#gridSection .idatest2:hover img {
  opacity: 1;
}
#gridSection p {
  text-transform: uppercase;
}
#gridSection .textDownLeft {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  left: 0;
  padding: 16px 32px;
  margin: 0;
}
#gridSection .textTopMiddle {
  color: #fff;
  font-size: 2rem;
}
#gridSection .textTopRight {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 0;
}
#gridSection .textDownRight {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  left: 0;
  padding: 16px 32px;
  margin: 0;
}
#gridSection .textDownMiddle {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  left: 0;
  padding: 16px 32px;
  margin: 0;
}
#gridSection img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.2s all ease;
}
#gridSection .link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}

#cardSection .col-lg-3 {
  padding: 12px;
}
#cardSection .card {
  height: 400px;
  text-align: start;
}
#cardSection .card img {
  height: 220px;
  width: auto;
  object-fit: cover;
}
#cardSection .card .card-body p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#cardSection .card .card-body .card-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cardSection .card .card-body .card-links .read-more-link {
  text-decoration: none;
}
#cardSection .card .card-body .card-links .read-more-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
#cardSection .card .card-body .card-links .btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  background-color: #BFA8A3;
  color: #fff;
  text-align: center;
  border: 2px solid #BFA8A3;
}
#cardSection .card .card-body .card-links .btn:hover {
  background-color: #fff;
  color: #261911;
  border: 2px solid #BFA8A3;
}
#cardSection .card-collapsed {
  height: 600px;
}
#cardSection .card-collapsed .card-body p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

body {
  margin: 0;
  background-color: #E1C9C1;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #261911;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

.container-fluid {
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
}

#section1, #section2, #section3 {
  min-height: 60vh;
  padding: 6rem 32px;
}
@media (max-width: 766px) {
  #section1, #section2, #section3 {
    min-height: unset;
    padding: 3rem 32px;
  }
}

/*# sourceMappingURL=main.css.map */
