.navbar img {
  height: 2.5rem;
}
.navbar img:hover {
  transform: scale(1.1);
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
#mainNav {
  padding: 1rem 32px;
  background-color: #e1c9c1;
}
#mainNav.navbar-shrink {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#mainNav.navbar-shrink .navbar-brand {
  font-size: 1.25em;
}
#mainNav.navbar-shrink .navbar-brand img {
  height: 2.5rem;
}
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
  color: #261911;
}
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link.active {
  text-decoration: underline;
  font-weight: 700;
}
#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #261911;
  color: #261911;
}
#mainNav .navbar-toggler i {
  font-size: 0.9rem;
  color: #261911;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 1rem;
  color: #261911;
  font-weight: 500;
  text-transform: none;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  text-decoration: underline;
  font-weight: 700;
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
    height: 3rem;
    transition: height 0.3s ease-in-out;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    color: #261911;
    font-weight: 500;
    text-transform: none;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
  }
  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand img {
    height: 2.5rem;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #261911;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link.active, #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}

.ij-section__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ij-section__heading p {
  max-width: 700px;
}
.ij-section__heading h2 {
  text-transform: uppercase;
}
.ij-section__heading h2 a {
  text-decoration: none;
}
.ij-section__heading h2 a:hover {
  text-decoration: underline;
}
.ij-section__content {
  display: flex;
}
.ij-section__content > div {
  max-width: 700px;
}
.ij-section__teamMember {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.ij-section__teamMember .round-image-container {
  height: 18rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
.ij-section__teamMember .round-image-container img {
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}
.ij-section__teamMember a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}
.ij-section__teamMember a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ij-section__teamMember:hover {
  cursor: pointer;
}
.ij-section__teamMember:hover img {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
.ij-section__teamMember:hover a {
  text-decoration: underline;
}

.ij-section-imgAndtext {
  display: flex;
}
.ij-section-imgAndtext__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 32px;
  padding-left: 0;
}
.ij-section-imgAndtext__content h2 {
  margin: 1rem 0;
}
.ij-section-imgAndtext__content .links {
  display: flex;
}
.ij-section-imgAndtext__content .links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-color: #fff;
  border: 1px solid #fff;
  color: #e1c9c1;
}
.ij-section-imgAndtext__content .links a i {
  margin-left: 0 !important;
}
.ij-section-imgAndtext__content .links a:hover {
  border-color: #fff;
  color: #fff;
  background-color: #e1c9c1;
}
.ij-section-imgAndtext__content .links-beige a {
  background-color: #e1c9c1;
  border-color: #e1c9c1;
  border: 1px solid #e1c9c1;
  color: #fff;
}
.ij-section-imgAndtext__content .links-beige a:hover {
  border-color: #e1c9c1;
  color: #e1c9c1;
  background-color: #fff;
}
.ij-section-imgAndtext__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.ij-section-imgAndtext__image img {
  object-fit: cover;
}
@media (max-width: 992px) {
  .ij-section-imgAndtext {
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }
  .ij-section-imgAndtext__image {
    padding: 0;
  }
}

.ij-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.ij-row-reverse .ij-section-imgAndtext__content {
  padding-right: 0;
  padding-left: 32px;
}
@media (max-width: 992px) {
  .ij-row-reverse {
    display: flex;
    flex-direction: column;
  }
  .ij-row-reverse .ij-section-imgAndtext__content {
    padding: 0;
  }
}

#gridSection .ij-col4 {
  height: 250px;
  position: relative;
  padding: 16px;
}
#gridSection .ij-col4:hover {
  cursor: pointer;
}
#gridSection .ij-col4:hover img {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  transform: scale(1.01);
}
#gridSection .ij-col6 {
  height: 350px;
  position: relative;
  padding: 12px;
}
#gridSection .ij-col6:hover {
  cursor: pointer;
}
#gridSection .ij-col6:hover img {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  transform: scale(1.01);
}
#gridSection h2 {
  text-transform: uppercase;
}
#gridSection img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s all ease;
}
#gridSection .link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}
#gridSection .textDownLeft {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  left: 0;
  padding: 16px 32px;
  margin: 0;
}
#gridSection .textTopMiddle {
  color: #fff;
  font-size: 2rem;
}
#gridSection .textTopRight {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 0;
}
#gridSection .textDownRight {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  left: 0;
  padding: 16px 32px;
  margin: 0;
}
#gridSection .textDownMiddle {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  left: 0;
  padding: 16px 32px;
  margin: 0;
}

#cardSection .col-lg-3 {
  padding: 12px;
}
#cardSection .card {
  height: 500px;
  text-align: start;
}
#cardSection .card h3 {
  font-size: 1.5rem !important;
}
#cardSection .card img {
  height: 280px;
  width: auto;
  object-fit: cover;
}
#cardSection .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 16px;
}
#cardSection .card .card-body p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#cardSection .card .card-body .card-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cardSection .card .card-body .card-links .link {
  text-decoration: none;
}
#cardSection .card .card-body .card-links .link:hover {
  text-decoration: underline;
  cursor: pointer;
}
#cardSection .card .card-body .card-links .btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  background-color: #bfa8a3;
  color: #fff;
  text-align: center;
  border: 2px solid #bfa8a3;
}
#cardSection .card .card-body .card-links .btn:hover {
  background-color: #fff;
  color: #261911;
  border: 2px solid #bfa8a3;
}

#subscriptionLetter {
  padding: 2rem 32px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#subscriptionLetter .newsLetter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#subscriptionLetter .newsLetter__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#subscriptionLetter .newsLetter__form h3 {
  font-size: 1.5rem;
  margin: 0;
}
#subscriptionLetter .newsLetter__form form {
  margin: 1rem;
  display: flex;
  min-width: 35%;
}
@media (max-width: 500px) {
  #subscriptionLetter .newsLetter__form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: unset;
  }
  #subscriptionLetter .newsLetter__form form button {
    margin-top: 1rem;
    width: fit-content;
  }
}
#subscriptionLetter .newsLetter__form form input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(99, 99, 99, 0.2);
  font-size: 0.9rem;
}
#subscriptionLetter .newsLetter__form form input:focus-visible {
  outline: #e1c9c1 auto 1px;
}
#subscriptionLetter .newsLetter__form form button {
  margin-left: 1rem;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  background-color: #e1c9c1;
  color: #261911;
  text-align: center;
  border: 2px solid #fff;
  font-size: 0.9rem;
  font-weight: 500;
}
#subscriptionLetter .newsLetter__form form button:hover {
  background-color: transparent;
  color: #261911;
  border-color: #e1c9c1;
}
#subscriptionLetter .newsLetter__text p {
  font-size: 0.8rem;
}
@media (max-width: 991px) {
  #subscriptionLetter .newsLetter__form {
    flex-direction: column;
  }
  #subscriptionLetter .newsLetter__form form {
    width: 100%;
  }
}

.ij-moreInfo {
  display: flex;
  justify-content: center;
  padding: 0 16px;
}
.ij-moreInfo__content {
  max-width: 700px;
  border-radius: 5px;
  margin: 4rem auto;
  padding: 2rem 32px;
  background-color: #fff;
}
.ij-moreInfo__content > div {
  text-align: center;
  margin-bottom: 1.25rem;
}
.ij-moreInfo__content h1 {
  margin: 1rem 0 0.5rem 0 !important;
}
.ij-moreInfo__content .goBack {
  text-decoration: none;
}
.ij-moreInfo__content .goBack i {
  margin-right: 0.5rem;
}
.ij-moreInfo__content .goBack:hover {
  text-decoration: underline;
}
.ij-moreInfo__content .link a {
  background-color: #bfa8a3;
  border: 1px solid #bfa8a3;
  padding: 0.5rem 1rem;
}
.ij-moreInfo__content .link a:hover {
  background-color: white;
  border: 1px solid #bfa8a3;
  color: #bfa8a3;
}
@media (max-width: 406px) {
  .ij-moreInfo__content .ij-db a:nth-child(1) {
    margin-bottom: 1rem;
  }
}

.learn {
  background: url("/assets/img/learn.webp");
  background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/learn.webp");
  background-size: cover;
  background-position: center;
}

.selfLove {
  background: url("/assets/img/selfLove.webp");
  background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/selfLove.webp");
  background-size: cover;
  background-position: center;
}

.search {
  background: url("/assets/img/search.webp");
  background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/search.webp");
  background-size: cover;
  background-position: center;
}

.live {
  background: url("/assets/img/live.webp");
  background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/live.webp");
  background-size: cover;
  background-position: center;
}

.listen {
  background: url("/assets/img/listen.webp");
  background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/listen.webp");
  background-size: cover;
  background-position: center;
}

.leadership {
  background: url("/assets/img/leadership.webp");
  background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/leadership.webp");
  background-size: cover;
  background-position: center;
}

.longing {
  background: url("/assets/img/longing.webp");
  background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/longing.webp");
  background-size: cover;
  background-position: center;
}

.play {
  background: url("/assets/img/play.webp");
  background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/play.webp");
  background-size: cover;
  background-position: center;
}

/* HERO */
header {
  padding-top: 6rem;
}
@media (max-width: 992px) {
  header {
    padding-top: 6rem;
  }
}
header .ij-hero {
  position: relative; /* Add relative positioning to the container */
  overflow: hidden; /* Ensure the image doesn't overflow the container */
}
header .ij-hero__item {
  position: relative; /* Add relative positioning to the item */
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  height: 100%;
  justify-content: center;
}
header .ij-hero__image {
  opacity: 0.9;
  width: 100%; /* Make the image fill the container */
  height: 50vh;
  object-fit: cover;
}
header .ij-hero__content {
  z-index: 1; /* Ensure content appears above the image */
  padding: 0 32px;
  max-width: 1440px;
  display: flex;
  justify-content: end;
  width: 100%;
  /* Add positioning for the content */
  position: absolute;
}
header .ij-hero__content h1 {
  margin-bottom: 2rem;
  font-size: 3.5rem;
}
header .ij-hero__content p {
  width: 50%;
}

.ij-footer {
  background-color: #e1c9c1;
}
.ij-footer a {
  text-decoration: none;
}
.ij-footer a:hover {
  text-decoration: underline;
}
.ij-footer .row {
  display: flex;
  justify-content: space-between;
  padding: 3rem 32px;
}
.ij-footer__icons ul {
  padding: 0 !important;
  list-style: none;
  display: flex;
}
.ij-footer__icons ul li {
  display: flex;
  align-items: center;
  min-height: 35px;
  min-width: 35px;
}
.ij-footer__icons ul li a {
  padding: 0.5rem 0;
}
.ij-footer__icons ul li a i {
  font-size: 1.2rem;
  color: #261911;
}
.ij-footer__icons ul li a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.ij-footer__text {
  padding: 1rem 0;
}
.ij-footer__text p {
  margin-bottom: 0 !important;
}

body {
  margin: 0;
  background-color: #e1c9c1;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #261911;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: 400;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

.container-fluid {
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
}

#ij-aboutUs-startpage,
#gridSection,
#aboutCompany,
#organisation,
#human,
#section-katarina,
#section-anna,
#cardSection,
#learn {
  padding: 6rem 32px;
}
@media (max-width: 766px) {
  #ij-aboutUs-startpage,
  #gridSection,
  #aboutCompany,
  #organisation,
  #human,
  #section-katarina,
  #section-anna,
  #cardSection,
  #learn {
    min-height: unset;
  }
}

h1,
h2,
h3,
h4,
p,
a {
  color: #261911;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 500;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

a:focus-visible,
img:focus-visible {
  outline: 2px solid #261911 !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

a:-webkit-any-link:focus-visible {
  outline-offset: 0 !important;
}

.img-height {
  height: 400px !important;
}

.img-noZoom:hover {
  transition: none !important;
  transform: none !important;
}

.backgroundWhite {
  background-color: #fff;
}

.extraPadding {
  padding: 9rem 32px 6rem 32px !important;
}

.moreInfoPadding {
  padding: 9rem 0 6rem 0 !important;
}

/*# sourceMappingURL=main.css.map */
