// Colors
$black: #261911;
$light-black: #616161;
$white: #fff;
$beige: #e1c9c1;
$gray: #868585;
$green: #787d62;
$dark-beige: #bfa8a3;

// Font
$openSans: "Open Sans", sans-serif;

// Font size
$normal: 1rem;
$text: 1rem;
$h1: 3.5rem;
$h2: 2.5rem;
$h3: 1.5rem;
$ingress: 1.25rem;
$line-height: 1.5;

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$solid: 900;

// Container
$grid-width: 1440px;
$transition: all 0.3s ease-in-out;
$box-shadow-light: 0 7px 14px rgba(0, 0, 0, 0.05);
$box-shadow-dark: 0 7px 14px rgba(255, 255, 255, 0.05);
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
