// .row{
//    justify-content: center;
// }
// .col-md-12{
//    display: flex;
//    flex-direction: column;
//    align-items: center;
// }
// h1{
//    text-align: center;
//    margin: 0 0 2rem 0;
// }
// p{
//    max-width: 800px;
// }
.moreInfo {
   padding: 6rem 0;
   display: flex;
   justify-content: center;
   align-items: center;
   .row {
      padding: 2rem 32px;

      .col-md-12 {
         background-color: white;
         border-radius: 5px;
         padding: 2rem 32px;
         max-width: 700px;

         .goBack {
            text-decoration: none;
            cursor: pointer;
            text-align: left;
            margin-bottom: 2rem;
            width: 100%;
            i {
               margin-right: 0.5rem;
            }
            &:hover {
               text-decoration: underline;
            }
         }
         h1 {
            margin: 0 !important;
         }
         .learn-link {
            a {
               background-color: $dark-beige;
               border: 1px solid $dark-beige;
               padding: 0.5rem 1rem;
               &:hover {
                  background-color: white;
                  border: 1px solid $dark-beige;
                  color: $dark-beige;
               }
            }
         }
      }
   }
}
.organisation {
   .row {
      background: url("/assets/img/organisation.jpeg");
      background: url("https://raw.githubusercontent.com/johanssonida1996/Klarhet/main/assets/img/organisation.jpeg");
      background-size: cover;
   }
}
.human {
   .row {
      //background: url('/assets/img/manniskaOchsinne.jpeg');
      background: url("https://raw.githubusercontent.com/johanssonida1996/Klarhet/main/assets/img/manniskaOchsinne.jpeg");
      background-size: cover;
   }
}
.learn {
   .row {
      background: url("/assets/img/anna/Lära.webp");
      background: url("https://raw.githubusercontent.com/johanssonida1996/Klarhet/main/assets/img/anna/L%C3%A4ra.webp");
      background-size: cover;
   }
}
