#aboutUs{
   > div{
      padding: 2rem 16px;
   }
   .col-md-12{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   h1{
      text-align: center;
      margin: 0 0 2rem 0;
   }
   p{
      max-width: 800px;
   }
}