#cardSection {
   .col-lg-3 {
      padding: 12px;
   }
   .card {
      height: 500px;
      text-align: start;
      h3 {
         font-size: 1.5rem !important;
      }
      img {
         height: 280px;
         width: auto;
         object-fit: cover;
      }
      .card-body {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         padding: 1rem 16px;
         p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
         }
         .card-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .link {
               text-decoration: none;
               &:hover {
                  text-decoration: underline;
                  cursor: pointer;
               }
            }
            .btn {
               display: inline-block;
               padding: 10px 20px;
               border-radius: 50px;
               text-decoration: none;
               background-color: #bfa8a3;
               color: #fff;
               text-align: center;
               border: 2px solid #bfa8a3;

               &:hover {
                  background-color: $white;
                  color: $black;
                  border: 2px solid #bfa8a3;
               }
            }
         }
      }
   }
}
