#gridSection{
  .idatest{
    height: 250px;
    position: relative;
    padding: 16px;

    &:hover{
      cursor: pointer;
      img{
        opacity: 1;
      }
    }
  }
  .idatest2{
    height: 350px;
    position: relative;
    padding: 12px;

    &:hover{
      cursor: pointer;
      img{
        opacity: 1;
      }
    }
  }
  p{
    text-transform: uppercase;
  }
  .textDownLeft{
    color: $white;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    left: 0;
    padding: 16px 32px;
    margin: 0;
  }
  .textTopMiddle{
    color: $white;
    font-size: 2rem;
  }
  .textTopRight{
    color: $white;
    font-size: 2rem;
    position: absolute;
    top: 0;
  }
  .textDownRight{
    color: $white;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    left: 0;
    padding: 16px 32px;
    margin: 0;
  }
  .textDownMiddle{
    color: $white;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    padding: 16px 32px;
    margin: 0;
  }
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: .2s all ease;
  }
  .link{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
  }
}
 