.ij-moreInfo {
   display: flex;
   justify-content: center;
   padding: 0 16px;
   &__content {
      max-width: 700px;
      border-radius: 5px;
      margin: 4rem auto;
      padding: 2rem 32px;
      background-color: $white;
      > div {
         text-align: center;
         margin-bottom: 1rem;
      }
      h1 {
         margin: 1rem 0 0 0 !important;
      }
      .goBack {
         text-decoration: none;
         i {
            margin-right: 0.5rem;
         }
         &:hover {
            text-decoration: underline;
         }
      }
      .link {
         a {
            background-color: $dark-beige;
            border: 1px solid $dark-beige;
            padding: 0.5rem 1rem;
            &:hover {
               background-color: white;
               border: 1px solid $dark-beige;
               color: $dark-beige;
            }
         }
      }
   }
}

.learn {
   background: url("/assets/img/learn.webp");
   background: url("https://raw.githubusercontent.com/johanssonida1996/Klarhet/main/assets/img/anna/L%C3%A4ra.webp");
   background-size: cover;
}
