.ij-moreInfo {
   display: flex;
   justify-content: center;
   padding: 0 16px;
   &__content {
      max-width: 700px;
      border-radius: 5px;
      margin: 4rem auto;
      padding: 2rem 32px;
      background-color: $white;
      > div {
         text-align: center;
         margin-bottom: 1.25rem;
      }
      h1 {
         margin: 1rem 0 0.5rem 0 !important;
      }
      .goBack {
         text-decoration: none;
         i {
            margin-right: 0.5rem;
         }
         &:hover {
            text-decoration: underline;
         }
      }
      .link {
         a {
            background-color: $dark-beige;
            border: 1px solid $dark-beige;
            padding: 0.5rem 1rem;
            &:hover {
               background-color: white;
               border: 1px solid $dark-beige;
               color: $dark-beige;
            }
         }
      }
      .ij-db {
         @media (max-width: 406px) {
            a:nth-child(1) {
               margin-bottom: 1rem;
            }
         }
      }
   }
}

.learn {
   background: url("/assets/img/learn.webp");
   background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/learn.webp");
   background-size: cover;
   background-position: center;
}
.selfLove {
   background: url("/assets/img/selfLove.webp");
   background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/selfLove.webp");
   background-size: cover;
   background-position: center;
}
.search {
   background: url("/assets/img/search.webp");
   background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/search.webp");
   background-size: cover;
   background-position: center;
}
.live {
   background: url("/assets/img/live.webp");
   background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/live.webp");
   background-size: cover;
   background-position: center;
}
.listen {
   background: url("/assets/img/listen.webp");
   background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/listen.webp");
   background-size: cover;
   background-position: center;
}
.leadership {
   background: url("/assets/img/leadership.webp");
   background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/leadership.webp");
   background-size: cover;
   background-position: center;
}
.longing {
   background: url("/assets/img/longing.webp");
   background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/longing.webp");
   background-size: cover;
   background-position: center;
}
.play {
   background: url("/assets/img/play.webp");
   background: url("https://raw.githubusercontent.com/johanssonida1996/KLARHET/main/assets/img/play.webp");
   background-size: cover;
   background-position: center;
}
